<html xmlns:th="http://www.thymeleaf.org">

<head>
     <title th:text="${musica.codigo != null ? 'Editar Música' : 'Nova Música'}">Formulário de música</title>
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <link th:href="@{/css/stylesForm.css}" rel="stylesheet">
     <title th:text="${musica.codigo != null ? 'Editar Musica' : 'Adicionar Musica'}">Editar Música</title> 
</head>
<body>
     <div class="wrapper">

          <h1 th:text="${musica.codigo != null ? 'Editar Música' : 'Nova Música'}">Formulário de música</h1>

          <div th:if="${mensagem}" class="mensagem-servidor">
               <p th:text="${mensagem}"></p>
          </div>

          <form class="formulario" th:action="@{${musica.codigo != null ? '/musica/editar/' + musica.codigo : '/musica/novo'}}" th:object="${musica}" method="post">
               <div class="input-box">
                     <input type="text" id="titulo"  name="name" th:field="*{titulo}" placeholder="Nome" required>
                     <i class='bx bx-music'></i>
               </div>
               
               <div class="input-box">
                    <input type="number" id="anoLanc" th:field="*{anoLancamento}" min="1860" max="2025" placeholder="Ano de lançamento" required>
                    <i class='bx bx-calendar'></i>
               </div>
               
               <div class="input-box">
                    <input type="text" id="duracao" th:field="*{duracao}" placeholder="Duração em minutos" required>
                    <i class='bx bx-time'></i>
               </div>
               
               <div class="input-select">
                    <select id="artista" name="artista" th:field="*{artista.codigo}" placeholder="Artista">
                         <option value="" disabled selected >Selecione <i class='bx bxs-microphone'></i></option>
                         <option th:each="artista : ${artistas}"
                                 th:value="${artista.codigo}"
                                 th:text="${artista.nome}" style="color: rgb(37, 37, 37);">
                    </option>
               </select>
               </div>

               <!-- <div class="input-box">
                    <input type="text" id="artista" th:field="*{artista}" placeholder="Artista" required>
                    <i class='bx bx-qr' ></i>
               </div> -->
               
               <button type="submit" class="btn" th:text="${musica.codigo != null ? 'Atualizar' : 'Salvar'}" required>Salvar/Atulizar</button>
               
               <div class="register-link">
                    <p><a th:href="@{/musica/listar}" class="register-link">Voltar</a></p>
                </div>
          </form>
     </div>
</body>
</html>