/* NAVBAR FRAGMENT */

header{
    position: fixed;
    top: 0;
    width: 100%;
    border: 0px;
    z-index: 1000;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
}

header > nav > ul:first-child {
    justify-content: flex-start; /* Alinha o primeiro ul à esquerda */
}

header > nav > ul:last-child {
    justify-content: flex-end; /* Alinha o último ul à direita */
}

header > nav > ul > li {
    list-style: none;
    border: 0px;
    margin: auto;
    padding: 23px 0;
}

header > nav > ul > li > a:link, a:visited{
    color: white;
    text-decoration: none;
    padding: 24px 30px;
    border: 0px;
    transition: ease-in-out, 0.3s;
}

header > nav > ul > li > a:hover{
    color: black;
    background-color: white;
    text-decoration: none;
}

.imagem {
    background-image: url(/img/logo-black.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

.imagem:hover {
    background-image: url(/img/logo-white.png);
}