<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/stylesList.css}">
    <link rel="stylesheet" th:href="@{/css/stylesMenu.css}">
    <title>Gêneros musicais</title>
</head>
<header th:insert="~{fragments/menu :: menu}"></header>
<body>
    <div class="wrapper">
        <h1>Em qual onda você quer surfar hoje?</h1>

        <div th:if="${mensagem}" class="mensagem-servidor">
            <p th:text="${mensagem}"></p>
        </div>
        
        <table>
            <thead>
                <th>Cód.</th>
                <th>Gênero</th>
                <th>Surgimento</th>
                <th>País de origem</th>
            </thead>
            <tbody>
                <tr th:each="genero : ${generos}">
                    <td th:text="${genero.codigo}">Código</td>
                    <td th:text="${genero.descricao}">Gênero</td>
                    <td th:text="${genero.data}">Surgimento</td>
                    <td th:text="${genero.pais}">País de origem</td>
                    <td>
                        <a th:href="@{/genero/editar/{codigo}(codigo=${genero.codigo})}" class="btn">Editar <i class='bx bxs-edit-alt'></i></a>
                    </td>
                    <td>
                        <form th:action="@{/genero/excluir/{codigo}(codigo=${genero.codigo})}" method="post" th:onsubmit="return confirm('Tem certeza que deseja excluir?');" style="display: inline;">
                            <button type="submit" class="btn">Excluir <i class='bx bxs-volume-mute'></i>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><a href="#" th:href="@{/genero/criar}" class="btnAdd">Adicionar novo gênero</a></p>
    </div>
</body>
</html>